<h1>{{title}}</h1>
<form action='/weather' method='POST' class='mb-4'>
  <div class='form-group'>

    <input type='text' placeholder='Enter a City' name='cityName' class="my-2 p-1" />
  </div>

  <input type='submit' value='Submit' class='btn btn-primary btn-block my-2' />
</form>
<div>
  {{#if notFound}}

    <p>City Not Found</p>
  {{/if}}

  {{#if city}}

    <p>The temperature of {{city}} is {{temp}}</p>
  {{/if}}
</div>